<div class="container mt-5">
  <h1 class="text-center">Editar Post</h1>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="title">Título:</label>
      <input id="title" formControlName="title" class="form-control">
      <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched" class="text-danger">
        O título é obrigatório.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="content">Conteúdo:</label>
      <textarea id="content" formControlName="content" class="form-control"></textarea>
      <div *ngIf="postForm.get('content')?.invalid && postForm.get('content')?.touched" class="text-danger">
        O conteúdo é obrigatório.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="spotifyUrl">URL do Spotify:</label>
      <input id="spotifyUrl" formControlName="spotifyUrl" class="form-control">
      <div *ngIf="postForm.get('spotifyUrl')?.invalid && postForm.get('spotifyUrl')?.touched" class="text-danger">
        A URL do Spotify é obrigatória.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Salvar</button>
  </form>
</div>
